Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -cppcoreguidelines-pro-type-vararg,
  -*-magic-numbers
WarningsAsErrors: 'bugprone-*,clang-analyzer-*,cert-*,concurrency-*'
HeaderFilterRegex: '.*/(core|net|http|codec|rt|infra|apps|tests)/.*\.(hpp|h)$'
FormatStyle: file
